<html>

<head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>MakeUpDetector</title>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <meta name="theme-color" content="#ffffff">

    <!-- Latest compiled and minified BOOTSTRAP CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Connecting to Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Google Fonts Used -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

</head>

<body>

    <!-- <header class="header-img">

		<img src="https://i.ibb.co/GfDsQMr/Violet-and-Peach-Brushstroke-Artists-Influencer-Facebook-Cover.png" alt="Violet-and-Peach-Brushstroke-Artists-Influencer-Facebook-Cover" border="0" class="responsive">
	</header> -->




    <div class="very_main">

        <center class="get_predict" style="width: 100%; height: auto; float: center; text-align: center;">
            <p class="description">
                <br>
                <br>
                <br>
                <br>
                <br>
            </p>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">

                    Choose an image to detect!
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
            </form>

            <div class="image-section">
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
                <div>
                    <button type="button" class="upload-label" id="btn-predict">Predict!</button>
                </div>
            </div>

            <div class="loader"></div>

            <h3 id="result">
                <span> </span>
            </h3>

        </center>



    </div>



</body>

</html>